[supervisord]
logfile=/var/log/supervisord.log                ; supervisord log file
logfile_maxbytes=5MB                            ; maximum size of logfile before rotation
logfile_backups=2                               ; number of backed up logfiles
loglevel=debug                                  ; info, debug, warn, trace
nodaemon=false                                  ; run supervisord as a daemon
user=root                                       ; default user
childlogdir=/var/log                            ; where child log files will live

[program:postfix]
command=postfix start
stdout_events_enabled=true
stderr_events_enabled=true
startsecs	= 0
autorestart	= false

[program:saslauthd]
command=/usr/sbin/saslauthd -a shadow -c -m /var/spool/postfix/var/run/saslauthd -n 5 -d
stdout_events_enabled=true
stderr_events_enabled=true

[program:rsyslogd]
command=rsyslogd -n
stdout_events_enabled=true
stderr_events_enabled=true

{% if ENABLE_DKIM == 'true' %}
[program:opendkim]
command=opendkim -x /etc/opendkim.conf -A -f
stdout_events_enabled=true
stderr_events_enabled=true
{% endif %}
